.headlines{
    margin-top: 75px;
    font-size: 85px;
    line-height: 90px;
}
.headlines .star{
    height: 52px;
    position: relative;
    left: 30px;
    top: -15px;
}
.colored-text{
    background-image: var(--linear-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.hero-text{
    width: 65%;
    margin-top: 45px;
    font-weight: 400;
    color: var(--text-color);
}

.hero-footer{
    display: flex;
    margin: 54px 0 0 0;
    align-items: center;
    gap: 25px;
}
.img-container{
display: flex;
position: relative;
}

.img-container img{
    border-radius: 50%;
    overflow: hidden;
}
.img-container img:nth-child(2){
    position: relative;
    left: -15px;
}
.img-container img:nth-child(3){
    position: relative;
    left: -32px;
}
.hero-footer .clients{
    position: relative;
    right: 24px;
}
.hero-footer h5{
    position: relative;
}
.hero-footer p{
    line-height: 1.5;
    font-size: 14px;
    color: slategray;
}

@media (max-width: 900px) {
    .headlines{
        margin-top: 50px;
        font-size: 65px;
        line-height: 70px;
        letter-spacing: -3px;
    }
    .hero-text{
        width: 85%;
        margin-top: 30px;
        letter-spacing: .2px;
    }
    .hero-footer{
        margin: 20px 0 0 0;
        align-items: center;
    }
}

@media (max-width: 500px) {
    .headlines{
        margin-top: 50px;
        font-size: 51px;
        line-height: 60px;
        letter-spacing: -3px;
    }
    .headlines .star{
        height:24px;
        left: 0;
        top: 0;
    }
    .hero-text{
        width: 100%;
        margin-top: 20px;
        letter-spacing: 0.3px;
        font-size: 16px;
        line-height: normal;
    }
    .hero-footer{
        margin: 20px 0 0 0;
        align-items:flex-start;
        flex-direction: column;
    }
    .br{
        display: none;
    }

    
}