#bg-effect{
    border-radius: 50%;
    height: 0;
    width: 0;
    background-color: transparent;
    box-shadow: 100px 100px 600px 200px #2a2b6a;
    filter: blur(50px);
    z-index: -999999;
    position: absolute;
}

.div1{
    top: 200px;
    right: -60px;
  
}
.div2{
    top: 450px;
    left: -300px;
}
.div3{
    top: 1000px;
    right: -60px;
  
}
.div4{
    top: 1300px;
    left: -300px;
}
.div5{
    top: 1800px;
    right: -60px;
  
}
.div6{
    top: 2300px;
    left: -300px;
}
.div7{
    top: 2800px;
    right: -60px;
  
}
.div8{
    top: 3200px;
    left: -300px;
}
.div9{
    top: 3700px;
    right: -60px;
}



.main{
    width: 76%;
    margin: 0 auto 0 auto;
}

@media (max-width: 1200px) {
    .main{
        width: 85%;
        margin: 0 auto 0 auto;
    }
}

@media (max-width: 900px) {
    .main{
        width: 90%;
        margin: 0 auto 0 auto;
    }
}