 @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

:root{

  --primary-color : #5c45fd;
  --black-color : #161616;
  --white-color : #efedff;
  --ligth-color : #8a79ff;
  --dark-color : #2a2b6a;
  --text-color : #9ca3af; 
  --linear-gradient : linear-gradient(90deg, rgba(239,237,255,1) 0%, rgba(92,69,253,1) 58%)
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  height: fit-content;
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  background-color: var(--black-color);
  color: var(--white-color);
  font-size: 16px;
  overflow-x: hidden;
}
 h1{
  font-size: 52px;
  line-height: 72px;
 }
 h3{
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
 }
p{
  font-size: 20px;
  line-height: 28px;
}

#button{
  background: var(--primary-color);
  color: var(--white-color);
  padding: 10px 12px;
  font-size: 16px;
  border: var(--primary-color) 2px solid;
  outline: none;
  border-radius: 8px;
  font-weight:normal;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
}
#button:hover{
  border: var(--primary-color) 2px solid;
  background-color: var(--black-color);

}

.arrow{
  font-size: 24px;
}

@media (max-width : 500px) {
  #button{
    padding: 6px 8px;
  }
}